---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAsset } from "../../utils/dynamicImport";

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("collections");
  posts.sort((a, b) => {
    // prefeer updatedDate over publishDate if available
    const dateA = new Date(a.data.updatedDate ?? a.data.publishDate);
    const dateB = new Date(b.data.updatedDate ?? b.data.publishDate);
    return dateA > dateB ? -1 : 1;
  });

  const filteredPosts = posts.filter((post) => post.data.published);

  return paginate(filteredPosts, { pageSize: 15 });
}

const { page } = Astro.props;
---

<BaseLayout title="Personal" sideBarActiveItemID="collections">
  <div class="pb-12 mt-5">
    <div class="text-3xl font-bold mb-4">Mi trabajo personal</div>
    <div class="mb-4">
      <p>
        En esta sección encontrarás una selección de mis fotografías favoritas,
        si deseas tener una copia impresa de alguna de ellas no dudes en
        contactarme en
        <a
          href="mailto:hola@ojoanalogo.com"
          class="font-bold text-slate-800"
          target="_blank">hola@ojoanalogo.com</a
        > para más información.
      </p>
      <p class="my-4">
        <span class="font-bold">Presiona/haz clic</span> en la imagen para ver
        la colección completa.
      </p>
    </div>

    {
      page.data.length === 0 ? (
        <div class="text-center">
          <h1 class="text-9xl font-bold mb-4">🏜️</h1>
          <h1 class="text-9xl font-bold mb-4 text-zinc-800">404</h1>
          <h3 class="text-2xl">
            No hay publicaciones disponibles, regresa mañana
          </h3>
        </div>
      ) : (
        <div class="w-full min-[2800px]:columns-8 min-[2400px]:columns-6 min-[1980px]:columns-4 lg:columns-3 md:columns-2 sm:columns-2 columns-1 gap-4 break-inside-avoid">
          {page.data.map(async (post: { data: any; slug: string }) => {
            dayjs.extend(localizedFormat);
            const publishDateString = dayjs(post.data.publishDate).format("ll");
            return (
              <div class="break-inside-avoid mb-4">
                <a class="cursor-pointer" href={"/collections/" + post.slug}>
                  <figure class="relative shadow-lg hover:shadow-2xl hover:shadow-black/40 ease-in duration-300">
                    <Image
                      class="w-full object-cover scale-100 shadow-lg hover:shadow-2xl hover:shadow-black/40 ease-in duration-300"
                      src={getAsset(`${post.slug}`, post.data.coverImage)}
                      decoding="async"
                      loading="lazy"
                      alt=""
                      quality={"mid"}
                    />
                    <figcaption class="absolute bottom-0 bg-white/100 w-full px-3 py-2">
                      <p class="text-sm md:text-lg font-bold text-black">
                        {post.data.title}
                      </p>
                      <div class="flex flex-row justify-stretch">
                        <div class="text-xs text-gray-400 grow">{publishDateString}</div>
                        <div class="text-xs mx-2">
                        {
                          post.data.tags?.map((tag: string) => {
                            return (
                              <span class="badge badge-sm gap-1">{tag}</span>
                            );
                          })
                        }
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                </a>
              </div>
            );
          })}
        </div>
      )
    }
  </div>
</BaseLayout>

<style>
  figure {
    display: block;
  }
</style>
