---
import Gallery from "../../components/Gallery.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
const photos = await Astro.glob("../../assets/ebisuhigashi-2023/*.jpg");
---

<BaseLayout sideBarActiveItemID="collections">
  <div class="pb-12 mt-5">
    <div class="text-3xl font-bold mb-4">🎎🎯 Ebisuhigashi</div>
    <div class="mb-12">
    </div>
    <Gallery photos={photos} />
  </div>
</BaseLayout>
