---
import { Picture } from "@astrojs/image/components";
import BaseLayout from "../../layouts/BaseLayout.astro";

interface Collection {
  title: string;
  id: string;
  photoCover?: string;
  date?: string;
}

const collections: Array<Collection> = [
  {
    title: "Narnia",
    id: "narnia-2023",
    photoCover: "20231004_3_Pantera_Portra800_29",
  },
  {
    title: "Venice",
    id: "venice-2023",
    photoCover: "20231004_3_Pantera_Portra800_04",
  },
  {
    title: "Kyoto",
    id: "kyoto-2023",
    photoCover: "Pantera_Fuji400_30",
  },
  {
    title: "Osaka",
    id: "osaka-2023",
    photoCover: "20231004_1_Pantera_Portra800_06",
  },
  {
    title: "Ebisuhigashi, Osaka",
    id: "ebisuhigashi-2023",
    photoCover: "20231004_1_Pantera_Portra800_23",
  },
  {
    title: "Narnia 2022",
    id: "narnia-2022",
    photoCover: "20220818-Kyoskko-23",
  }
];
---

<BaseLayout sideBarActiveItemID="collections">
  <div class="pb-12 mt-5">

    <div class="text-3xl font-bold mb-4"> Mi trabajo personal</div>
    <div class="mb-4">
      <p>
        En esta secci贸n encontrar谩s una selecci贸n de mis fotograf铆as favoritas, si
        deseas tener una copia impresa de alguna de ellas no dudes en contactarme
        en
        <a href="mailto:hola@ojoanalogo.com" class="font-bold text-slate-800" target="_blank"
          >hola@ojoanalogo.com</a
        > para m谩s informaci贸n.
      </p>
      <p class="my-4">
        <span class="font-bold">Presiona/haz clic</span> en la imagen para ver la colecci贸n completa.
      </p>
    </div>   
    <div class="flex flex-row">
      <div
        class="w-full lg:columns-3 md:columns-2 sm:columns-2 columns-1 gap-6"
      >
        {
          collections.map((collection) => {
            return (
              <div class="stack py-2">
                <a
                  class="cursor-pointer"
                  href={"/collections/" + collection.id}
                >
                  <Picture
                    class="mb-4 w-full rounded-sm shadow-lg object-cover scale-100 hover:shadow-2xl hover:shadow-black/40 ease-in duration-300"
                    src={import(
                      `../../assets/${collection.id}/${collection.photoCover}.jpg`
                    )}
                    widths={[200, 400, 800]}
                    sizes="(max-width: 800px) 100vw, 800px"
                    alt=""
                  />
                  <p class="text-xl font-bold my-0">{collection.title}</p>
                </a>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</BaseLayout>
