---
import Gallery from "../components/Gallery.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const photos = await Astro.glob("../assets/narnia-2023/*.jpg");
---

<BaseLayout sideBarActiveItemID="narnia-2023" keepCollectionsDropdown={true}>
  <div class="pb-12 mt-5">
    <div class="text-3xl font-bold mb-10">Narnia</div>
    <Gallery photos={photos} />
  </div>
</BaseLayout>
