---
const { title, img, desc, url, slug, target = "_blank" } = Astro.props;
import { Picture } from '@astrojs/image/components';
import { getBlogImage } from '../utils/dynamicImport';
---

<a
  class="card bg-base-100 w-96 shadow-xl image-full hover:shadow-xl transition ease-in-out hover:scale-[102%] mb-5"
  href={url}
  target={target}
>
  <figure>
    <Picture
      class="w-full rounded-sm shadow-lg object-cover scale-100 ease-in duration-300"
      src={getBlogImage(slug, img)}
      widths={[400]}
      alt=""
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>{desc}</p>
  </div>
</a>
