---
import { Picture } from "@astrojs/image/components";
import { getBlogImage } from "../utils/dynamicImport";

export interface Props {
  photos?: Array<string>;
  slug: string;
}

const { photos, slug } = Astro.props;
---

<div class="flex flex-row">
  <div class="w-full lg:columns-3 md:columns-2 sm:columns-2 columns-1 gap-6">
    {
      photos?.map(async (photo: string) => {
        const blogImage = await getBlogImage(slug, photo);
        return (
          <a href={blogImage.default.src} data-fslightbox>
            <Picture
              class="mb-5 w-full rounded-sm shadow-lg object-cover scale-100 hover:shadow-xl hover:shadow-black/40 ease-in duration-300"
              src={blogImage.default}
              widths={[400]}
              alt=""
            />
          </a>
        );
      })
    }
  </div>
</div>
